@charset "utf-8";
html,body{overflow:hidden}
html,body,div,p,img,span,a,em,strong,pre,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,tbody,thead,tfoot,tr,th,td,form,fieldset,legend,caption,input,textarea,button,select,object,video,iframe{margin:0;padding:0}
ul,li{list-style:none}
i{font-style:normal}

.header{position:relative;height:313px;text-align:center;letter-spacing:-2px;max-width:360px;margin:0 auto}
.header h1{font-weight:normal;font-size:21px;line-height:21px;padding-top:47px}
.header h1 strong{display:block;font-size:31px;color:#fff;line-height:31px;padding-top:10px}
.header h1 i{position:absolute;top:25px;left:0;right:0;display:block;width:110px;height:34px;border-radius:17px;font-size:17px;line-height:32px;background:#323131;color:#fff;margin:0 auto}
.header h1 i .icon{display:inline-block;width:17px;height:15px;background:url("../images/blt_radius_alert.png") no-repeat;background-size:17px 15px;vertical-align:-1px;margin-right:3px}
.header img{position:absolute;bottom:0;left:0;right:0;max-width:360px;margin:0 auto}
.content{line-height:25px;font-size:15px;color:#222;background:#fff;letter-spacing:-1px;box-sizing:border-box;max-width:360px;margin:0 auto;padding:23px}
.content strong{color:#a1c801}
.content li{position:relative;padding-left:19px}
.content li i{position:absolute;left:0;color:#a1c801;font-weight:bold}
.add_alert .header h1 i .icon{background-image:url("../images/blt_radius_alyac.png")}

@media (max-width:320px){
    .header,.header img{max-width:320px}
}
@media (min-width:400px){
	.header{height:337px}
    .header,.header img,.content{max-width:400px}
    .header h1{font-size:25px}
	.header h1 strong{font-size:35px;padding-top:16px}
	.content{font-size:17px;line-height:27px}
}
/* color set */
.color_a_1,.color_a_1 .content{background:#A1C801}
.color_a_1 .header h1,.color_a_1 .content li i,.color_a_1 .content strong{color:#1a2309}
.color_a_2,.color_a_2 .content{background:#4AACD9}
.color_a_2 .content li i{color:#1a2309}
.color_a_2 .header h1,.color_a_2 .content,.color_a_2 .content strong{color:#002638}
.color_a_3,.color_a_3 .content{background:#FF9231}
.color_a_3 .header h1,.color_a_3 .content,.color_a_3 .content strong{color:#371a00}
.color_a_4,.color_a_4 .content{background:#FBE601}
.color_a_4 .header h1,.color_a_4 .header h1 strong,.color_a_4 .content strong{color:#370908}
.color_a_5,.color_a_5 .content{background:#FD6868}
.color_a_5 .header h1,.color_a_5 .content strong{color:#2b0000}
.color_a_5 .header h1,.add_alert .header h1{padding-top:80px}
.color_a_5 .header img,.add_alert .header img{max-width:310px;bottom:10px}
.color_a_5 .content,.add_alert .content{padding-top:10px}

.color_c_1 .wrap{background:#B6D539}
.color_c_1 .header h1{color:#376822}
.color_c_2 .wrap{background:#61B7DD}
.color_c_2 .header h1{color:#204e7d}
.color_c_3 .wrap{background:#F69D4E}
.color_c_3 .header h1{color:#7e3200}
.color_c_4 .wrap{background:#FFE345}
.color_c_4 .header h1,.color_c_4 .header h1 strong{color:#370908}
.color_c_5 .wrap{background:#FF6161}
.color_c_5 .header h1{color:#4d1f1f}
.color_c_5 .header h1 .icon{display:inline-block;width:21px;height:18px;background:url("../images/blt_alert.png") no-repeat;background-size:21px 18px;vertical-align:-2px;margin-right:3px}
.color_c_5 .content strong{color:#d61c1c}